* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER  */
#upper-header {
    background-color: black;
}
#logo-sony {
    width: 150px;
    margin: 5px;
}
.MY-btn-outline-success {
    background-color: black;
    color: white;
    border-radius: 30px;
}
#MY-lens {
    transform: scale(0.5);
}

/* MAIN  */

#jumbo {
    object-fit: cover;
    position: relative;
}
#returnal-text {
    width: 400px;
    left: 5%;
    bottom: 40%;
}
#rompi {
    left: 5%;
    bottom: 30%;
}
#rialzati {
    left: 5%;
    bottom: 20%;
}
.foto-under-jumbo {
    margin: 10px 0px;
}
#first-foto {
    border: solid 2px blue;
    padding: 2px;
}

/* stili sezione Ecco la PlayStation */
/* .immagini-ecco {
    margin: 0 2%;
} */
/* generali */
.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.absolute {
    position: absolute;
}
.border-radius {
    border-radius: 15px;
}


/* stile colori  */
.white {
    color: white;
}

.blue {
    color: rgb(48, 124, 238);
}
.grey {
    color: grey;
}
.blue-back {
    background-color: rgb(48, 124, 238);
}
.black-back {
    background-color: rgb(58, 53, 53);
}

